{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <header class="section-heading">
            <h3 class="section-title text-primary">Giới thiệu về BOOKAHOLIC</h3>
        </header><!-- sect-heading -->
        <div class="w-100 row m-0 p-0">
            <div class="w-100 card card-product-grid border-0 px-5 py-4"
                style="border-radius: 1rem; font-size: 1.2rem; line-height: 1.8rem;">
                Bookaholic là một dự án do nhóm HYGGE, là những sinh viên lớp Hệ thống thông tin quản lí hệ chất lượng
                cao thuộc trường Đại học Kinh tế - Luật thực hiện. Bookaholic là một sàn thương mại điện tử kinh doanh
                sách. Với slogan "Một cuốn sách - một giấc mơ", HYGGE hy vọng dự án Bookaholic sẽ đem đến những trải
                nghiệm tuyệt vời cho người dùng với những cuốn sách đa dạng thể loại đến từ nhiều quốc gia và của nhiều
                tác giả nổi tiếng.
            </div> <!-- card.// -->
        </div> <!-- row.// -->
        <header class="section-heading">
            <h3 class="section-title text-primary">Chính sách vận chuyển</h3>
        </header><!-- sect-heading -->
        <div class="w-100 row m-0 p-0">
            <div class="w-100 card card-product-grid border-0 px-5 py-4"
                style="border-radius: 1rem; font-size: 1.2rem; line-height: 1.8rem;">
                <ul>
                    <li>Đến trực tiếp cửa hàng để thanh toán tiền mặt và nhận sách.</li>
                    <li>Giao sách qua đường bưu điện. Nhận sách từ 7 - 10 ngày phụ thuộc vào khu vực vận chuyển. Tiền
                        ship sẽ được tính dựa trên khối lượng đơn hàng.</li>
                </ul>
            </div> <!-- card.// -->
        </div> <!-- row.// -->
        <header class="section-heading">
            <h3 class="section-title text-primary">Hình thức thanh toán</h3>
        </header><!-- sect-heading -->
        <div class="w-100 row m-0 p-0">
            <div class="w-100 card card-product-grid border-0 px-5 py-4"
                style="border-radius: 1rem; font-size: 1.2rem; line-height: 1.8rem;">
                <ul>
                    <li>Đến trực tiếp cửa hàng để đổi sách hoặc trả sách.</li>
                    <li>Nếu đủ điều kiện được xét duyệt thì sẽ được hoàn tiền 100% cho sản phẩm trả hàng.</li>
                    <li>Không hỗ trợ đổi trả sau 7 ngày tính cả thời gian nhận sách.</li>
                    <li>Đăng kí đổi trả thông qua hotline 1900-0999, chụp ảnh hoặc quay phim làm minh chứng (kèm hoá
                        đơn). Sau đó bạn sẽ nhận được tin nhắn và email hướng dẫn đổi/ trả sẽ lập tức được gửi đến khách
                        hàng sau khi khách hàng đăng kí đổi/ trả thành công. Bookaholic sẽ hỗ trở đổi/ trả miễn phí nếu
                        lỗi bên Bookaholic.</li>
                </ul>
            </div> <!-- card.// -->
        </div> <!-- row.// -->
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}